<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barikoi.cnlapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:name=".Utils.CNLApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNLApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.CreateShopActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StatisticsHome.Activity.ActiveInactiveActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrderSummary.TO.OrderSummaryTOActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Order_Delivery.OrderDeliveryUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Notice.NoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TradeOffers.TradeOffersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProductStock.ProductSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProductStock.ProductStockUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrderSummary.SO.OrderSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.RouteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.nostatusbar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.nostatusbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CNLApp.NoActionBar.Material"
            android:windowSoftInputMode="adjustPan">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://851b695b52a740ce9649a4af9dbbd669@o437144.ingest.sentry.io/6750736" />
        <!--
 Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production.
        -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" /> <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />
    </application>

</manifest>